
<div class="p-3 mb-2 bg-light text-dark">
  <h2>Your Shelf</h2>
  <% @current_user.shelves.each do |shelf| %>
  <p><%= shelf.title %></p>
  <% @books.each do |book| %>
  <p><%= link_to book.title , '/books/:id/edit' %></p>
  <% end  %>
  <% end %>
  <%= link_to "Add a book to your list" ,  :class =>"badge badge-pill badge-primary" %>
</div>
