
<div class="p-3 mb-2 bg-light text-dark">
  <h1>new shelf</h1>
  <%= form_for @shelf do |sh| %>
  <%= sh.label:title %>
  <%= sh.text_field :title, :placeholder => 'Shelf name' %>
  <%= sh.submit %>
  <% end %>
</div>
